@charset "UTF-8";

@font-face {
    font-family: JosefinSans;
    src: url("fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: LatoRegular;
    src: url("fonts/Lato/Lato-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.logo {
    max-width: 60px;
    float: left;
}

.topnav {
    background: linear-gradient(90deg, rgba(34,193,195,1) 0%, rgb(243, 34, 225) 100%);
    /*background-color: #02AFF7;*/
    overflow: hidden;
    padding: 10px;
    margin: -8px;
}

/* Style the links inside the navigation bar */
.topnav a {
    font-weight: 200;
    text-decoration: none;
    text-transform: uppercase;
    font-family: JosefinSans;
    color: #151814;
}

/* mouse over link */
.topnav a:hover {
    color: grey;
    /*background-color: #DFFFD6;*/
    text-transform: uppercase;
  /*   padding: 10px; */
}

/* selected link */
.topnav a:active {
    background-color: #F3FFE1;
}

.topnav ul {
    text-align: right;
    padding: 0px;
}
  
.topnav li {
    list-style: none;
    display: inline-block;
    margin: 0px 20px;
}

body {
    font-family: JosefinSans;/*Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;*/
    text-align:left;
    background-color: #C6C6C6;
}

article {
    margin-left: 6em;
    margin-right: 6em;
    margin-top: 3em;
    margin-bottom: 3em;
}
/*
p {
    text-align: center;
}*/

footer {
    background-color: black;
    color: white;
    padding: 10px;
    margin: -8px;
    /*position: absolute;*/
    /*bottom:0;*/
}